[submodule "traccar-web"]
	path = traccar-web
	url = https://github.com/sean97140/traccar-web.git
	branch = master
	ignore = all
[submodule "traccar-docker"]
	path = traccar-docker
	url = https://github.com/sean97140/traccar-docker.git
